#frame {
  position: relative;
  background-color: #bce8f1;
  padding: 5px;
  display: inline-block;
  border-radius: .25rem;
}

.menu-item {
  position: absolute;
  background-color: lightblue;
  border-radius: 1em;
  font-family: 'Segoe UI', 'Futuro';
  text-align: center;
}

.current {
  font-weight: bold;
}

.menu-item:hover {
  background-color: #08f;
}
